body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background: url("./img/background.png") no-repeat center center;
    background-size: cover;   /* stretch to fit */
    border-bottom: 1px solid black;
}